<%- include('../partials/header') %>

<%- include('../partials/sidebar') %>

<!-- Page Content -->
<div class="content-wrapper" id="page-content-wrapper">
    <%- include('../partials/navbar') %>
    
    <div class="container-fluid p-4">
        <%- body %>
    </div>
</div>

<%- include('../partials/footer') %>
